@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    

}
p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right,#C689F0,#D96472);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #57272d96;
    width: 500px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #FF8E3A;
    text-align: center;
    text-shadow: 1px 1px 2px #3f210ae0;
}
h2{
    color: #12338f;
    
}